.container {
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    display: flex;
  }
  
  .chatCard {
    background-color: var(--background-color);
    border-radius: 12px;
    width: 600px;
    padding: 40px;
    box-shadow: var(--shadow);
  }

  .description{
      margin: 20px 0px;
  }

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonContainer button {
  width: 100%;
  max-width: 300px;
  font-size: 1.2rem;
}

@media (width <= 991px) {
    .chatCard {
      width: 90%;
      max-width: 480px;
    }
  }
  
  @media (width <= 640px) {
    .chatCard {
      width: 100%;
      padding: 20px;
    }
  }
  
  .header {
    align-items: center;
    display: flex;
    gap: 20px;
  }
  
  .footer {
      margin-top: 20px;
      text-align: center;
  }
  