.container {
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    display: flex;
  }
  
  .chatCard {
    background-color: var(--background-color);
    border-radius: 12px;
    width: 600px;
    padding: 40px;
    box-shadow: var(--shadow);
  }
  
  .header {
    align-items: center;
    display: flex;
    gap: 20px;
  }
  
  .footer {
      margin-top: 20px;
      text-align: center;
  }
  