.message {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 60%;
    word-wrap: break-word;
    width: fit-content;
}

.messageRight {
    text-align: right;
    background-color: var(--lavender);
    margin-left: auto;
}

.messageLeft {
    text-align: left;
    background-color: var(--grey);
    margin-right: auto;
}

.userName {
    font-size: 16px;
    font-weight: bold;
}

.timestamp {
    font-size: 12px;
    color: var(--secondary-text);
    font-weight: 400;
}

.text {
    margin: 5px 0;
    font-size: 14px;
    color: var(--text-color);
}

.quotedMessage {
    border-left: 4px solid var(--primary-color);
    margin: 8px 0;
    padding: 0 5px;
    color: var(--secondary-text);
    font-style: italic;
    background-color: var(--background-color);
}

.quoteIcon {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.message:hover .quoteIcon {
    opacity: 1;
}

.leftArrow {
    left: -25px;
    transform: scaleX(-1);
}

.rightArrow {
    right: -25px;
    transform: scaleX(1);
}

@media (max-width: 600px) {
    .message {
        max-width: 90%;
        padding: 8px;
    }

    .userName {
        font-size: 14px;
    }

    .text {
        font-size: 12px;
    }

    .timestamp {
        font-size: 10px;
    }

    .quoteIcon {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 1024px) {
    .message {
        max-width: 80%;
    }

    .userName {
        font-size: 15px;
    }

    .text {
        font-size: 13px;
    }

    .timestamp {
        font-size: 11px;
    }

    .quoteIcon {
        width: 18px;
        height: 18px;
    }
}

@media (min-width: 1025px) {
    .message {
        max-width: 60%;
    }

    .quoteIcon {
        width: 20px;
        height: 20px;
    }
}
