.userInput {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--input-bg);
    border-top: 1px solid var(--border-color);
  }

  .input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    font-size: 14px;
    outline: none;
  }

  .input:focus {
    border-color: var(--primary-color);
  }

  .sendButton {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .sendButton:hover {
    background-color: var(--hover);
  }

  .sendButton:disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
  }
