.fileInput {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hiddenInput {
    display: none;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconButton:active {
    transform: scale(0.9);
}

.icon {
    width: 24px;
    height: 24px;
}

.selectedFile {
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
