.description{
    margin: 20px 0;
}

.error {
    color: red;
    margin-top: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonContainer button {
    width: 100%;
    max-width: 300px;
    font-size: 1.2rem;
}