.roomHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.roomName {
    font-size: 22px;
}

.roomLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.roomInfo {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .roomHeader {
        padding: 8px;
    }

    .roomName {
        font-size: 18px;
    }

    .roomLeft {
        gap: 8px;
    }
}

@media (max-width: 1024px) {
    .roomHeader {
        padding: 12px;
    }

    .roomName {
        font-size: 20px;
    }

    .roomLeft {
        gap: 9px;
    }
}
