.message {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 60%;
    word-wrap: break-word;
    width: fit-content;
    flex-shrink: 0;
}

.messageRight {
    text-align: right;
    background-color: var(--lavender);
    margin-left: auto;
}

.messageLeft {
    text-align: left;
    background-color: var(--grey);
    margin-right: auto;
}

.header {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
}

.text {
    margin: 5px 0;
    font-size: 14px;
    color: var(--text-color);
}

.quotedMessage {
    border-left: 4px solid #ccc;
    padding-left: 8px;
    margin-bottom: 4px;
    color: #555;
    font-style: italic;
    background-color: #f8f8f8;
    margin-top: 10px;
}

.media {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.image {
    max-width: 100%;
    border-radius: 8px;
}

.quoteIcon {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.message:hover .quoteIcon {
    opacity: 1;
}

.leftArrow {
    left: -25px;
}

.rightArrow {
    right: -25px;
}
