.message {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    max-width: 60%;
  }

.quotedMessage {
    border-left: 4px solid #ccc;
    padding-left: 8px;
    margin-bottom: 4px;
    color: #555;
    font-style: italic;
    background-color: #f8f8f8;
}
  
  .header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .text {
    margin: 5px 0;
    font-size: 14px;
    color: var(--text-color);
  }
  
  .media {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .image {
    max-width: 100%;
    border-radius: 8px;
  }
  